<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendencemanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendenceManagementSystem">
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".LeaveAcceptReject" />
        <activity
            android:name=".StudentDetailSheet"
            android:exported="true" />
        <activity android:name=".LeaveApproval" />
        <activity android:name=".ViewStudents" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".LeaveRequest" />
        <activity android:name=".EmployeeData" />
        <activity android:name=".AttendenceHome" />
        <activity
            android:name=".UserSignup"
            android:exported="true" />
        <activity android:name=".UserLogin" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>